.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000022;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 0.4em;
    color: aliceblue;
}

.nav-menu{
    display: flex;
    gap: 20px;
    list-style: none;
  
    
    
}

.nav-menu li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1em;

}

.nav-menu li a:hover{
    color: lightblue;
    transition: color 0.3s ease;
}

.nav-right{
    display: flex;
    gap: 1em;
    padding-top: 0.8em;

}

.nav-right .quote-btn{
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    padding-top: 0.4em;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    
}

.nav-right .quote-btn:hover{
    background-color: darkgreen;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}